In [11]:
## for download the mysql connector 
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [12]:
import mysql.connector as conn

In [13]:
db = conn.connect(host = "localhost" , user = "root" , passwd = "root")

print("Database is connected at : ",db)

cursor_object = db.cursor()
print("Sucessfully created cursor object") 

cursor_object.close()
print("Sucessfully closed the cursor object")

db.close()
print("Sucessfully closed the database connection")

Database is connected at :  <mysql.connector.connection_cext.CMySQLConnection object at 0x000002C7EC301550>
Sucessfully created cursor object
Sucessfully closed the cursor object
Sucessfully closed the database connection

# code for creating a database

In [14]:
db_name = input("Enter the database name : ")
db = conn.connect(host = "localhost" , user = "root" , passwd = "root")

print("Database is connected at : ",db)

cursor_object = db.cursor()
print("Sucessfully created cursor object") 

cursor_object.execute(f"CREATE DATABASE {db_name}")
print(f"Sucessfully created {db_name} Database")

cursor_object.close()
print("Sucessfully closed the cursor object")

db.close()
print("Sucessfully closed the database connection")

Enter the database name : DSM
Database is connected at :  <mysql.connector.connection_cext.CMySQLConnection object at 0x000002C7EB33D350>
Sucessfully created cursor object
Sucessfully created DSM Database
Sucessfully closed the cursor object
Sucessfully closed the database connection

# code for creating a table in the given database

In [15]:
import mysql.connector as conn
db_name = input("Enter the database name : ")
db = conn.connect(host = "localhost" , user = "root" , passwd = "root" , database = db_name)

print("Database is connected at : ",db)

cursor_object = db.cursor()
print("Sucessfully created cursor object") 

studentRecord = """CREATE TABLE STUDENT (
                   NAME  VARCHAR(20) NOT NULL,
                   BRANCH VARCHAR(50),
                   ROLL INT NOT NULL,
                   SECTION VARCHAR(5),
                   AGE INT
                   )"""
  
# table created
cursor_object.execute(studentRecord)
print("Sucessfully created the table")

cursor_object.close()
print("Sucessfully closed the cursor object")

db.close()
print("Sucessfully closed the database connection")

Enter the database name : DSM
Database is connected at :  <mysql.connector.connection_cext.CMySQLConnection object at 0x000002C7EB33C810>
Sucessfully created cursor object
Sucessfully created the table
Sucessfully closed the cursor object
Sucessfully closed the database connection

# code for inserting an element in the database

In [16]:
import mysql.connector as conn

db = conn.connect(host ="localhost",user ="root", passwd ="root", database = db_name)

cursor_object = db.cursor()

sql = "INSERT INTO STUDENT (NAME, BRANCH, ROLL, SECTION, AGE)\
VALUES (%s, %s, %s, %s, %s)"
val = ("Ram", "CSE", "85", "B", "19")

cursor_object.execute(sql, val)
print("Sucessfully inserted the data : ",val)
db.commit()
print("commited")

# disconnecting from server
db.close()
print("connection terminated")

Sucessfully inserted the data :  ('Ram', 'CSE', '85', 'B', '19')
commited
connection terminated

# code for inserting multiple elements in the database

In [17]:
db = conn.connect(host ="localhost",user ="root", passwd ="root", database = db_name)

cursor_object = db.cursor()

sql = "INSERT INTO STUDENT (NAME, BRANCH, ROLL, SECTION, AGE)\
VALUES (%s, %s, %s, %s, %s)"
val = [("Nikhil", "CSE", "98", "A", "18"),
       ("Nisha", "CSE", "99", "A", "18"),
       ("Rohan", "MAE", "43", "B", "20"),
       ("Amit", "ECE", "24", "A", "21"),
       ("Anil", "MAE", "45", "B", "20"), 
       ("Megha", "ECE", "55", "A", "22"), 
       ("Sita", "CSE", "95", "A", "19")]

cursor_object.executemany(sql, val)
print("Sucessfully inserted the data : " , val)
db.commit()
print("commited")

db.close()
print("connection terminated")

Sucessfully inserted the data :  [('Nikhil', 'CSE', '98', 'A', '18'), ('Nisha', 'CSE', '99', 'A', '18'), ('Rohan', 'MAE', '43', 'B', '20'), ('Amit', 'ECE', '24', 'A', '21'), ('Anil', 'MAE', '45', 'B', '20'), ('Megha', 'ECE', '55', 'A', '22'), ('Sita', 'CSE', '95', 'A', '19')]
commited
connection terminated

# code for fetch/extraxt/print elements from the database

In [18]:
db = conn.connect(host ="localhost",user ="root", passwd ="root", database = db_name)

cursor_object = db.cursor()

query = "SELECT NAME, ROLL FROM STUDENT"
cursor_object.execute(query)

res = cursor_object.fetchall()

for x in res:
    print(x)
    
# disconnecting from server
db.close()
print("connection terminated")

('Ram', 85)
('Nikhil', 98)
('Nisha', 99)
('Rohan', 43)
('Amit', 24)
('Anil', 45)
('Megha', 55)
('Sita', 95)
connection terminated